<% editable = song.editable_for?(session[:user_id]) %>
<tr>
<td>
    <%=song.author%>
</td>
<td>
    <%=song.song_name%>
</td>

<td>
    <% if editable %>
        <% if song.public %>
            Публично
        <% else %>
            Не публично
        <% end %>
    <% end %>
</td>


<td>
    <% if song.fluidsynth.present? %>
    <%= link_to "Послушать", play_path(id: song.id) %>
    <% end %>
</td>
<td>
    <% if editable%>
        <%= link_to "Изм.", editfiles_path(midi_file_id: song.id)   %>
    <% end %>
</td>
<td>
    <% if editable%>
        <%= button_to "Удалить", userfiles_path(midi_file: {id: song.id}), method: :delete, class: "btn btn-xs btn-default" %>
    <% end %>
</td>
</tr>