<div data-turbo="false">
    <%= form_for :midifile, class: 'user_data_form' do |f| %>
    <div class="input_item">
        <%= label_tag :song_name, 'Название песни' %>
        <%= f.text_field :song_name %>
    </div>
    <div class="input_item">
        <%= label_tag :author, 'Автор песни' %>
        <%= f.text_field :author %>
    </div>
    <div class="input_item">
        <%= label_tag :public, 'Публично доступно?' %>
        <%= f.check_box :public %>
    </div>
    <%= f.hidden_field :id%>

    <div class="submit_button">
      <%= f.submit  %>
    </div>
    <% end %>
    <%= render 'shared/errors' %>
</div>