<!DOCTYPE html>
<html>
  <head>
    <title>MidiWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <%if false%>
    <header class='site-header'>
      <div class='nav-buttons'>
        <%= link_to 'На главную', root_path, class: 'login-button' %>
        <% if session[:user_id] %>
          <%= link_to 'Загруженные файлы', userfiles_path, class: 'login-button' %>
        <% end %>
      </div>
      <div class='login-buttons'>
      <% unless session[:user_id] %>
        <%= link_to 'Вход', login_path, class: 'login-button'%>
        
        <%= link_to 'Регистрация', register_path, class: 'login-button' %>
        <% else %>
        <%= link_to 'Выйти', logout_path, class: 'login-button' %>
        <div class='login-button'>
          <%= "Вы вошли как #{User.find(session[:user_id]).login}"%>
        </div>
      <% end %>
      </div>
    </header>
    <%# yield %>
    <%else%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Midi Website</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%=root_path%>">Главная</a></li>
            <% if session[:user_id] %>
              <li><a href="<%=userfiles_path%>">Загруженные файлы</a></li>
            <% end %>
            <% unless session[:user_id] %>
              <li><a href="<%=login_path%>">Вход</a></li>
              <li><a href="<%=register_path%>">Регистрация</a></li>
            <% else %>
              <li><a href="<%=logout_path%>">Выйти</a></li>
              <li><a><%="Вы вошли как #{User.find(session[:user_id]).login}"%></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%=yield%>
    </div>
    <%end%>
  </body>
  
  
</html>
